#app-mount {
	%base %notice {
		width: calc(100% - var(--sidebar-width));
		margin-left: var(--sidebar-width);
		height: 36px;
		& + .content-1SgpWY {
			%privateChannels {
				%privateChannelsSearchBar,
				%privateChannelsScroller {
					margin-top: -36px;
				}
			}
			%channelsHeader,
			.scroller-2wx7Hm {
				margin-top: -36px;
			}
		}
	}
}
