@use '../assets';

#app-mount {
	%spinner {
		background: var(--text-normal);
		mask: url(assets.$icon_spinner) center/12px no-repeat;
		animation: rotate 1s linear infinite;

		%spinnerWanderingCubesItem,
		.chasingDotsItem-1Dc20e,
		%spinnerPulsingEllipsis {
			display: none;
		}
	}
}
