#app-mount {
	%indicator[data-tutorial-id='direct-messages'] {
		margin-top: 44px;
		margin-left: 13px;
	}
	%indicator[data-tutorial-id='create-first-server'] {
		margin-top: -6px;
		margin-left: -22px;
	}
	%indicatorCircleOuter,
	[data-tutorial-id='organize-by-topic'],
	[data-tutorial-id='voice-conversations'],
	[data-tutorial-id='instant-invite'] {
		display: none;
	}
	%indicatorCircleInner {
		background: var(--accent-solid);
		mask: url(/assets/5d7b0c4b2a82d63d829b6ea591853c22.svg) 50% no-repeat;
	}
	%indicatorExclamationBottom,
	%indicatorExclamationTop {
		display: none;
	}
}
