#app-mount {
	%guildFolder {
		background: transparent;
		cursor: var(--cursor);
		&%guildFolderHover {
			background: transparent;
		}
	}
	%guildExpandedFolderBackground {
		background: var(--background-light);
		border-radius: var(--border-radius);
		&%guildFolderCollapsed {
			background: transparent;
		}
	}
}
