#app-mount %nitroHomePage {
	%scrollerWrap::before {
		content: none;
	}
	%storeHomeScroller {
		background-color: var(--background-alt);
	}
	.detailsBlock-FoDTGA {
		background: var(--background);
		border: 1px solid var(--base-border);
	}
}
