#app-mount .members-2y1nVj .membersGroup-2YoqY {
	padding: var(--spacing);
	height: auto;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
	color: var(--text-normal);
	text-transform: none;
}
