@import '../../lib/selectors/selectorPlaceholders';
:root {
	--icon: var(--server-icon-size, var(--ASW_size, 35px));
	--container: calc(var(--icon) + calc(var(--server-container-padding) * 2));
}

#app-mount %homeIcon{
	width: 32px;/*TODO no hardcode here!*/
}

.guilds-2JjMmN {
	width: var(--container);
	%guildsScrollerWrap {
		width: calc(100% + 30px);
	}
	[role='group'] {
		height: auto !important;
	}
	%guildPlaceholderMask {
		width: var(--icon);
		height: var(--icon);
	}
	%guild {
		width: var(--container);
		margin-bottom: var(--server-icon-spacing);
	}
	.scrollerBase-1Pkza4 > div[style]:not(%guild):not([style*='absolute']) {
		height: calc(var(--icon) + var(--server-icon-spacing)) !important;
	}
	[class*='pill'] {
		height: calc(var(--icon) - 8px);
		top: 50%;
		transform: translateY(-50%);
		span {
			height: 100% !important;
			transition: 0.1s ease !important;
			transform: scale(1, 0) !important;
			// Unread
			@for $i from 0 through 8 {
				&[style*='height: #{$i}'] {
					transform: scale(1, 0.25) !important;
				}
			}
			// Hovered
			@for $i from 9 through 20 {
				&[style*='height: #{$i}'] {
					transform: scale(1, 0.5) !important;
				}
			}
			// Selected
			@for $i from 21 through 40 {
				&[style*='height: #{$i}'] {
					transform: scale(1, 1) !important;
				}
			}
		}
	}
	[class*='unreadMentionsIndicator'] {
		width: 100%;
	}
	%guildsError,
	.svg-2ifYOU,
	.wrapper-2PSQCG {
		width: var(--icon);
		height: var(--icon);
	}
	.iconBadge-2NuvG9 {
		border-radius: 50%;
		height: calc(var(--icon) / 3);
		width: calc(var(--icon) / 3);
	}
	// Folders
	%guildFolderWrapper {
		width: var(--container);
		%guildFolder,
		%guildFolderIconWrapper {
			background: transparent;
		}
		%guildExpandedFolderBackground {
			left: 50%;
			transform: translateX(-50%);
			width: var(--server-icon-size);
		}
	}
}

#app-mount %privateChannels %privateChannelsSearchBar,
#app-mount %channelsSidebar %channelsHeader{
	left:0;
	width: 100%;
}
