@import '../../lib/selectors/selectorPlaceholders';
html%platformWin[lang='en-US'],
html%platformWin[lang='en-GB'] {
	body:not(.oldTitleBarEnabled-D8ppJQ)
		%friends
		%headerBar.themed-Hp1KC_
		%toolbar {
		border: none !important;
	}
	body:not(.oldTitleBarEnabled-D8ppJQ) %headerBar.themed-Hp1KC_ %toolbar {
		%headerBarIconWrapper[aria-label='Inbox'],
		%headerBarIconWrapper[aria-label='Pinned Messages'],
		%headerBarIconWrapper[aria-label='Add Friends to DM'],
		%headerBarIconWrapper[aria-label='New Group DM'],
		%anchor %headerBarIconWrapper {
			position: fixed;
			top: 0;
			-webkit-app-region: no-drag;
			height: calc(var(--titlebar-height) - 1px);
			width: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 var(--spacing);
			margin: 0 !important;
			color: var(--toolbar-text-normal);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			cursor: default;
			overflow: hidden;
			text-overflow: ellipsis;
			&::after {
				color: inherit;
				font-weight: inherit;
				font-size: inherit;
				white-space: nowrap;
				line-height: normal;
			}
			&[aria-label='Inbox'] {
				left: 38px;
				width: 50px;
				&::after {
					content: 'Inbox';
				}
			}
			&[aria-label='Pinned Messages'] {
				left: 88px;
				width: 42px;
				&::after {
					content: 'Pins';
				}
				%headerBarIconBadge {
					top: 4px;
					right: 4px;
					z-index: -1;
					width: 4px;
					height: 4px;
				}
			}
			&[aria-label='Add Friends to DM'],
			&[aria-label='New Group DM'] {
				left: 130px;
				width: 54px;
				&::after {
					content: 'Group';
				}
			}
			&[aria-label='New Group DM'] {
				left: 88px;
			}
			&:hover {
				background: var(--toolbar-background-hover);
			}
			&:active,
			&%headerBarIconSelected {
				background: var(--toolbar-background-active);
			}
			svg {
				display: none;
			}
		}
		.inviteToolbar-2k2nqz {
			display: block !important;
		}
		.inviteToolbar-2k2nqz ~ %anchor %headerBarIconWrapper {
			left: 142px;
		}
		%librarySearch ~ %anchor %headerBarIconWrapper {
			left: 88px;
		}
		%headerBarIconWrapper[aria-label='Add Friends to DM'] ~ %anchor %headerBarIconWrapper {
			left: 184px;
		}
		%anchor {
			display: block !important;
			&:nth-child(8) %headerBarIconWrapper {
				left: 184px;
			}
			&:nth-child(6) %headerBarIconWrapper {
				left: 130px;
			}
			%headerBarIconWrapper {
				width: auto;
				left: 130px;
				&::after {
					content: 'Help';
				}
			}
		}
	}
}

// Unfocused App
html%platformWin[lang='en-US'],
html%platformWin[lang='en-GB'] {
	&:not(.app-focused)
		body:not(.oldTitleBarEnabled-D8ppJQ)
		%headerBar.themed-Hp1KC_
		%toolbar {
		%headerBarIconWrapper[aria-label='Inbox'],
		%headerBarIconWrapper[aria-label='Pinned Messages'],
		%headerBarIconWrapper[aria-label='Add Friends to DM'],
		%headerBarIconWrapper[aria-label='New Group DM'],
		%anchor %headerBarIconWrapper {
			opacity: 0.6;
		}
	}
}
