// Mac
html%platformOSX #app-mount {
	.guilds-2JjMmN {
		margin-top: 0;
		.tutorialContainer-2sGCg9 %guild,
		.tutorialContainer-2sGCg9 %guild {
			top: -1px;
		}
	}
}

// Linux
html%platformLinux {
	--titlebar-height: 0px;
	#guild-header-popout {
		top: var(--toolbar-height) !important;
	}
}
