#app-mount %chatContent %divider {
	height: auto;
	margin: 0;
	padding: var(--spacing-half) 0;
	border-top: 1px solid var(--base-border);
	background: var(--background);
	top: 0;
	%dividerDate {
		background: transparent;
		font-size: var(--font-size-xsm);
		padding: 0 var(--spacing) 0 0;
	}
	& + li > %cozy%messageGroupStart {
		margin-top: 0;
	}
	& + %messagesWrapper%cozy {
		margin-top: 0;
	}
	&%dividerUnread {
		border-bottom: 1px solid var(--base-border);
		%unreadPill {
			position: unset;
			background: transparent;
			font-size: var(--font-size-xsm);
			color: rgb(var(--status-red), 1);
			padding: 0;
			svg {
				display: none;
			}
		}
		& + li > %cozy {
			margin-top: calc(var(--spacing) - 12px);
		}
	}
}
