@use '../assets';

#app-mount {
	%player {
		background: var(--background);
		border-radius: var(--border-radius);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(0, 0, 0, 0.25);
			pointer-events: none;
			opacity: 0;
			transition: 250ms linear opacity;
		}
		&%playerPaused::after {
			opacity: 1;
		}
		&%playerControlsHidden {
			%playerMetadata,
			%playerVideoControls {
				opacity: 0;
			}
		}
		&:hover .playCenter-Fe8u3X %embedVideoActionsButtonWrapper %mediaCarouselPaginationIcon {
			opacity: 1;
		}
	}
	.playCenter-Fe8u3X {
		%mediaCarouselPaginationIconWrapper {
			opacity: 1;
		}
		%embedVideoActionsButtonWrapper {
			background: transparent;
			padding: 0;
			opacity: 1;
			%mediaCarouselPaginationIcon {
				margin: 0;
				cursor: var(--cursor);
				width: 72px;
				height: 72px;
				background: var(--white);
				opacity: 0.65;
				margin-top: 4px;
				mask: url(assets.$icon_play) center/72px no-repeat;
				polygon {
					display: none;
				}
			}
		}
	}
	%playerVideoControls {
		display: grid;
		grid-template-columns: auto auto 1fr auto auto;
		z-index: 1;
		padding: var(--spacing-half) var(--spacing);
		height: 38px;
		box-sizing: border-box;
		bottom: 0;
		transform: none !important;
		transition: 150ms linear opacity;
		background: transparent;
		&::after {
			content: '';
			left: 0;
			bottom: 0;
			width: 100%;
			height: 72px;
			position: absolute;
			z-index: -1;
			background: linear-gradient(0deg, rgb(0, 0, 0, 0.75), transparent);
		}
		.horizontal-2HFjqv {
			top: calc(var(--spacing-half) * -1);
			position: absolute;
			left: var(--spacing);
			width: calc(100% - var(--spacing-double));
			display: block;
			%playerMediaBarInteraction,
			%playerMediaBarInteractionDragging {
				margin: 0;
				display: flex;
				align-items: center;
				&:hover,
				&:active {
					%playerMediaBarBuffer,
					%playerMediaBarPreview,
					%playerMediaBarProgress {
						height: 5px !important;
					}
				}
				%playerMediaBarWrapper {
					background: transparent;
					height: 10px;
					border-radius: 0;
					box-shadow: none;
					%playerMediaBarProgress {
						background: var(--accent-solid);
					}
					%playerMediaBarBuffer,
					%playerMediaBarPreview,
					%playerMediaBarProgress {
						height: 3px;
						top: 50%;
						transition: 150ms ease height;
						transform: translateY(-50%);
					}
					%playerMediaBarBuffer,
					%playerMediaBarBuffer::after,
					%playerMediaBarBuffer::before {
						background: var(--white);
						opacity: 0.3;
					}
				}
			}
			%playerMediaBarGrabber {
				background: var(--accent-solid);
				transition: none;
			}
			.fakeEdges-18N907::after,
			.fakeEdges-18N907::before {
				content: none;
			}
		}
		%flex {
			justify-content: space-between;
		}
		> div:last-child {
			%playerControlIcon {
				margin: 0;
			}
		}
	}
	.volumeButton-2XwKVs {
		margin-left: var(--spacing);
	}
	%playerControlIcon {
		margin: 0;
		height: 20px;
		width: 20px;
		color: var(--white);
		opacity: 0.65;
		cursor: var(--cursor);
		transform: none;
		&:not(:last-child) {
			margin-right: var(--spacing);
		}
		&:hover {
			color: var(--text-link);
			opacity: 1;
		}
	}
	%playerDurationTimeWrapper {
		margin: 0;
		%playerDurationTimeDisplay,
		%playerDurationTimeSeparator {
			font-weight: var(--font-weight);
			font-size: var(--font-size-sm);
			color: var(--white);
			font-family: var(--font-family-sans-serif);
			margin: 0;
			user-select: text;
			&%playerDurationTimeSeparator {
				margin: 0 var(--spacing-third);
			}
		}
	}
	%playerMetadata {
		padding: var(--spacing);
		top: 0;
		z-index: 10;
		height: 72px;
		transform: none !important;
		transition: 150ms ease opacity;
		background: linear-gradient(0deg, transparent, rgb(0, 0, 0, 0.75));
		%playerMetadataName {
			color: var(--white);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			line-height: normal;
		}
		%playerMetadataSize {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			color: var(--white);
			opacity: 0.65;
		}
		%playerMetadataDownload {
			padding: 0;
			opacity: 1;
			border: none;
			background: var(--white);
			height: 18px;
			width: 18px;
			opacity: 0.75;
			mask: url(assets.$icon_download) center/18px no-repeat;
			%playerMetadataIcon {
				display: none;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	%playerMetadataContent {
		padding: 0;
	}
}
