#app-mount {
	// Native context menus
	%menuPopout,
	.submenu-3ycVEH {
		background: var(--background);
		box-shadow: var(--elevation-1);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		overflow: hidden;
		.scroller-nxCRu_ {
			padding: 0;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
		%menuPopoutSeparator {
			margin: 0;
			border-color: var(--base-border);
		}
		.groupLabel-16o1xl {
			font-size: var(--font-size);
			color: var(--text-muted);
			font-weight: var(--font-weight-semibold);
			margin: 0;
			padding: var(--spacing-half) var(--spacing);
			box-sizing: border-box;
			height: 32px;
			text-transform: none;
		}
		%menuPopoutItem {
			font-size: var(--font-size);
			color: var(--text-normal);
			font-weight: var(--font-weight-semibold);
			margin: 0;
			padding: var(--spacing-half) var(--spacing);
			box-sizing: border-box;
			border-radius: 0;
			min-height: 32px;
			cursor: var(--cursor);

			.labelContainer-2vJzYL {
				min-height: unset;
				padding: 0 !important;
			}

			%menuPopoutCheckbox {
				color: rgb(var(--accent), 1);
			}

			.labelContainer-2vJzYL {
				padding: 0 var(--spacing);
			}
			&%menuPopoutItemHover {
				background: var(--background-modifier-hover);
				%menuPopoutCheckbox {
					color: #fff;
				}
				%menuPopoutCheck {
					color: rgb(var(--accent), 1);
				}
			}
			&:active:not(%menuPopoutHideInteraction) {
				background: var(--background-modifier-active);
			}
			&%menuPopoutItemDanger {
				color: rgb(var(--status-red));
			}
			&%menuPopoutItemInvite {
				color: var(--text-link);
			}
			&%menuPopoutHideInteraction {
				height: auto;
				padding: 0;
			}
			%menuPopoutIconContainer {
				color: var(--text-muted);
				margin-left: var(--spacing);
			}

			// Fix submenu spacing
			& + .layer-2BGhQ8 {
				&[style*='left'] {
					margin-left: -4px;
				}
				&[style*='right'] {
					margin-right: -4px;
				}
			}
		}
	}

	// Instant reactions
	.wrapper--nA0oy {
		padding: 0;
		border-bottom: 1px solid var(--base-border);
		overflow: hidden;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		display: flex;
	}
	.customItem-1KYL7t {
		flex: 1;
	}
	%quickReactButton {
		padding: 0;
		width: 100%;
		border-radius: 0;
		background: transparent;
		cursor: var(--cursor);
		&:hover {
			background: var(--background-modifier-hover);
		}
		&:active {
			background: var(--background-modifier-active);
		}
	}
}
